In [1]:
x=sum(x for x in range(10))
print(x)

45

In [2]:
a=0
for i in range(11):
    a+=i
print(a)

55

In [3]:
user =input()
if user==user:
    count=user.count("a")
    print(count)

7

In [9]:
a=input()
b=a.split()
print(b)

['amaldass', 'kowsi']

In [11]:
a=input()
count=0
for i in a:
    if i=="a":
        count+=1
print(count)

0

In [12]:
a=input()
b=a.split()
for i in b:
    print(i)
    count=0
    for x in i:
        print(x)
        if x=="a":
            count+=1
    print(count)

amaldass
a
m
a
l
d
a
s
s
3

In [14]:
a=input().split()
for b in a:
 print(float(b))

7543351.0

In [15]:
# Read input
string = input()

# Split the string into individual characters and join them with commas
result = ",".join(string)

# Print output
print(result)

a,m,a,l,s,a,s,s

In [5]:
for j in range(3):
    print("************",j)
    for i in range (10):
        if i == 9:
            break
        print(i)

************ 0
0
1
2
3
4
5
6
7
8
************ 1
0
1
2
3
4
5
6
7
8
************ 2
0
1
2
3
4
5
6
7
8

In [5]:
i=("kamal","rajani","amal")
j=("dass","kanth","dass")
result=(i+" "+j for i ,j in zip(i,j))
print(list(result))

['kamal dass', 'rajani kanth', 'amal dass']

In [1]:
# task 1

for i in ["Rajini","Kamal","Aiswarya"]:
    for j in ["Khanth","Hassan","Rai"]:
        a = ["Rajini","Kamal","Aiswarya"].index(i)
        b = ["Khanth","Hassan","Rai"].index(j)
        if a == b:
            print(i,j)

Rajini Khanth
Kamal Hassan
Aiswarya Rai

In [12]:
i=input()
k=input()
c=zip(i,k)
for i in  c:
    print(list(i))

['a', 'k']
['m', 'o']
['a', 'w']
['l', 's']
['d', 'i']

In [13]:
a,b=(10,30)
print(a,b)

10 30

In [18]:
# while works on particular condition 

# while loop is condition true only its stop

In [2]:
Accountbalance=8000
while Accountbalance>500:
    print("Montly maintance")
    Accountbalance = Accountbalance-100
    print(Accountbalance)

print("Your balance is 0 requst you maontaine minimum balance")

Montly maintance
7900
Montly maintance
7800
Montly maintance
7700
Montly maintance
7600
Montly maintance
7500
Montly maintance
7400
Montly maintance
7300
Montly maintance
7200
Montly maintance
7100
Montly maintance
7000
Montly maintance
6900
Montly maintance
6800
Montly maintance
6700
Montly maintance
6600
Montly maintance
6500
Montly maintance
6400
Montly maintance
6300
Montly maintance
6200
Montly maintance
6100
Montly maintance
6000
Montly maintance
5900
Montly maintance
5800
Montly maintance
5700
Montly maintance
5600
Montly maintance
5500
Montly maintance
5400
Montly maintance
5300
Montly maintance
5200
Montly maintance
5100
Montly maintance
5000
Montly maintance
4900
Montly maintance
4800
Montly maintance
4700
Montly maintance
4600
Montly maintance
4500
Montly maintance
4400
Montly maintance
4300
Montly maintance
4200
Montly maintance
4100
Montly maintance
4000
Montly maintance
3900
Montly maintance
3800
Montly maintance
3700
Montly maintance
3600
Montly maintance
3500
Montly maintance
3400
Montly maintance
3300
Montly maintance
3200
Montly maintance
3100
Montly maintance
3000
Montly maintance
2900
Montly maintance
2800
Montly maintance
2700
Montly maintance
2600
Montly maintance
2500
Montly maintance
2400
Montly maintance
2300
Montly maintance
2200
Montly maintance
2100
Montly maintance
2000
Montly maintance
1900
Montly maintance
1800
Montly maintance
1700
Montly maintance
1600
Montly maintance
1500
Montly maintance
1400
Montly maintance
1300
Montly maintance
1200
Montly maintance
1100
Montly maintance
1000
Montly maintance
900
Montly maintance
800
Montly maintance
700
Montly maintance
600
Montly maintance
500
Your balance is 0 requst you maontaine minimum balance

In [3]:
balance = 500000
limit = 1500
while limit >0:
    withdraw = int(input("Enter withdrawal amount: "))
    if withdraw + limit >450000:
        print("Transaction declined due to existing limit")
        break
    else:
        balance -= withdraw
        print(str(withdraw) + " has been transferred")
        print("Your remaining balance: " + str(balance))
        limit += withdraw

print("Limit has been reached")

85000 has been transferred
Your remaining balance: 415000
45000 has been transferred
Your remaining balance: 370000
2455 has been transferred
Your remaining balance: 367545
2155 has been transferred
Your remaining balance: 365390
2155 has been transferred
Your remaining balance: 363235
154544 has been transferred
Your remaining balance: 208691
1545 has been transferred
Your remaining balance: 207146

ValueError: invalid literal for int() with base 10: '1154+4+4+'

In [4]:
Name=[1,2,3,4,5,6,7,8,9]
print(Name)
print(Name[0:6:2])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5]

In [5]:
Name[1:15]

[2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
Name=('a','b','c','d','e','f','g')
print(Name[0:5])

('a', 'b', 'c', 'd', 'e')

In [8]:
# Input
n = int(input())

# Initialize factorial to 1
factorial = 2

# Calculate factorial
for i in range(1, n + 1):
    factorial *= i

# Output
print(factorial)

7257600

In [12]:
b = ["Arulmozhi", "govindan", "suvithara", "amaldass", "duriarashu"]
b.append("new one")
b.extend(["kowsi","Kutty papa"])
a=input()
b.insert(2,a)
print(b)

['Arulmozhi', 'govindan', 'mithran', 'suvithara', 'amaldass', 'duriarashu', 'new one', 'kowsi', 'Kutty papa']

In [11]:
b = ["Arulmozhi", "govindan", "suvithara", "amaldass", "duriarashu"]
b.append("new one")
b.extend(["kowsi","Kutty papa"])
a = input()
b.insert(2, a)
print(b)
print(b.index("amaldass"))

['Arulmozhi', 'govindan', 'amaldass', 'suvithara', 'amaldass', 'duriarashu', 'new one', 'kowsi', 'Kutty papa']
2

In [47]:
a=[1,"hai",5,0,[1,2,4,5],9]
print(a)

[1, 'hai', 5, 0, [1, 2, 4, 5], 9]

In [49]:
a[4][2]="guvi"
print(a)

[1, 'hai', 5, 0, [1, 2, 'guvi', 5], 9]

In [13]:
a=[]
a.append(2)
a.append("Roll number")
print(a)

[2, 'Roll number']

In [21]:
B=[7,3,0,5,4,3,8,1,7,2]
B.sort()
print(B)
print(B.count(7))

[0, 1, 2, 3, 3, 4, 5, 7, 7, 8]
2

In [65]:
a=("amaldass Govindan")

print(a)
print(a.upper())
print(len(a))
print(a.lower())
print(a.capitalize())
print(a.swapcase())

amaldass Govindan
AMALDASS GOVINDAN
17
amaldass govindan
Amaldass govindan
AMALDASS gOVINDAN

In [70]:
Name=input("Enter Your name:")
print(F"Hello Mr/Ms:{Name.upper()},how are You")

Hello Mr/Ms:SUVI,how are You

In [13]:
A= ("amaldass","Arulmozhi")

D = " Govindan ".join(A)
print(D)

amaldass Govindan Arulmozhi

In [60]:
A = ("amaldass","Arulmozhi")
D = " Govindan ".join(A)
print(D)

amaldass Govindan Arulmozhi

In [62]:
a=input()

print(f"Hello Mr.{a} how are you ")

Hello Mr.amaldass how are you

In [63]:
print('G','amaldass','Govindan',sep='*')
print('G','amaldass','govindan',end='*Arulmozhi')

G*amaldass*Govindan
G amaldass govindan*Arulmozhi

In [64]:
a={111,33,33,111,222}
print(a)

{33, 222, 111}

In [36]:
#Dictonary concept 

A={"Name":"amaldass","Education qualification":"BE-Mechanical engineering","Job":"SQL&PLSQL Devloper"}
print(A)

{'Name': 'amaldass', 'Education qualification': 'BE-Mechanical engineering', 'Job': 'SQL&PLSQL Devloper'}

In [21]:
############ Phython type ###################

######list
Name=[1,2,3,4,5,6,7,8,9,10,11]
print(Name)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [22]:
Name[0:5]#------slice---

[1, 2, 3, 4, 5]

In [26]:
Name[0:11:3]####[start:end:interval]

[1, 4, 7, 10]

In [27]:
Name[2]="amaldass"
print(Name)

[1, 2, 'amaldass', 4, 5, 6, 7, 8, 9, 10, 11]

In [28]:
a=[1,'hai',5,0,[1,3,5],9]
print(a)

[1, 'hai', 5, 0, [1, 3, 5], 9]

In [31]:
######Task 1####
a[4][2]="Guvi"
print(a)

[1, 'hai', 5, 0, [1, 3, 'Guvi'], 9]

In [36]:
a.append("amaldass")
print(a)

[1, 'hai', 5, 0, [1, 3, 'Guvi'], 9, 'amaldass']

In [39]:
b=[]
b.append(2)
b.append("hellow amaldass")
b.append([1,2,3])
b.extend([4,5,6])
b.append(input())
print(b)

[2, 'hellow amaldass', [1, 2, 3], 4, 5, 6, 'kowsi']

In [1]:
# Comparison Operators
x = 10
y = 5


# Equal to (==)
print("x == y:", x == y)  # False


# Not equal to (!=)
print("x != y:", x != y)  # True


# Greater than (>)
print("x > y:", x > y)  # True


# Less than (<)
print("x < y:", x < y)  # False


# Greater than or equal to (>=)
print("x >= y:", x >= y)  # True

x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True

In [10]:
print(True and True)
print(False and True)
print(False and False)
print(True or False)
print(True or True)

True
False
False
True
True

In [13]:
print(not True)
print(not False)
print(True or False and True)

False
True
True

In [2]:
Name=input("Enter Your Name:")
print("Welcome to my learning portel", Name)
DOB=input("Enter Your Date of Birth:")
Mobie_Number=input("Enter Your Mobile Number:")
Password=input("Create your password:")
if Password.isdigit():
    print("Your password set sussessfully" )
    print(f"Here are your details:\nUsername: {Name}\nPassword: {Password}\nDate of Birth:{DOB}\nMobile number:{Mobie_Number}")

else:
    print("Your password should be in numberic only")

Welcome to my learning portel kowslay amaldass
Your password set sussessfully
Here are your details:
Username: kowslay amaldass
Password: 4521346564
Date of Birth:01-Sep-1996
Mobile number:87465132456

In [ ]:
#loop####
for X in input():
    print(X.upper())

Y
U
V
A

A
M
A
L

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range(10):
    print(f"S.r:{i}")

S.r:0
S.r:1
S.r:2
S.r:3
S.r:4
S.r:5
S.r:6
S.r:7
S.r:8
S.r:9

In [16]:
i=input()
print("".join([i.upper()]))

SUVITHAR

In [38]:
co=0
for x in input():
    print(x.upper())
    co=co+1
print(f"Your word Count is :{co}")

A
M
A
L
D
A
A
S
Your word Count is :8

In [22]:
#nested For and while loop
# while loop is condition based working
# for loop is we know the end 
count=1

while count<10:
  print("Good Morning Sweet Heart")
  count=count+1
  if count == 10:
       break

print(f"Your Good morning Count is:{count}")

Good Morning Sweet Heart
Good Morning Sweet Heart
Good Morning Sweet Heart
Good Morning Sweet Heart
Good Morning Sweet Heart
Good Morning Sweet Heart
Good Morning Sweet Heart
Good Morning Sweet Heart
Good Morning Sweet Heart
Your Good morning Count is:10

In [7]:
while True:
    missile = input("Enter the missile name: ")
    
    if missile == "Agni1":
        print("Agni1 Ready to launch")
        password = input("Enter the password: ")
        
        if password == "Kalam":
            location = input("Please tell me the launch location: ")
            if location == "PAK":
                print("Location is set.")
                confirmation = input("Are you sure you want to launch the missile? (Yes/No): ")
                if confirmation.lower() == "yes":
                    print("Good to go! Agni1 launched.")
                elif confirmation.lower() == "no":
                    print("Launch aborted. Missile stopped.")
                else:
                    print("Invalid confirmation input. Missile launch aborted.")
            else:
                print("Location is wrong.")
        else:
            print("Incorrect password. Launch aborted.")
        break  # Exit the loop after handling the launch sequence.
    else:
        print(f"We don't have this type of missile: {missile}")

Agni1 Ready to launch
Location is set.
Good to go! Agni1 launched.

In [18]:
Result=""
for i in["Amal","Duri","Arul"]:
    for j in ["Dass","Arashu","Mozhi"]:
        if ["Amal","Duri","Arul"].index(i)==["Dass","Arashu","Mozhi"].index(j):
            if Result:
                Result+="*,*"
            Result+=f"{i}{j}"
print(Result)

AmalDass*,*DuriArashu*,*ArulMozhi

In [19]:
actor=[]
for i in ['rajini','kamal','alia']:
    for j in ['khant','hassan','bhat']:
        actor.append(i+j)
print(actor[0:9:4])

['rajinikhant', 'kamalhassan', 'aliabhat']

In [30]:
# String operations
a = "Today is Wednesday"
b = "abcd123"

# Convert to uppercase
print(a.upper())  # Output: TODAY IS WEDNESDAY

# Convert to lowercase
print(a.lower())  # Output: today is wednesday

# Capitalize the first character
print(a.capitalize())  # Output: Today is wednesday

# Check if all characters in `a` are alphabetic
print(a.isalpha())  # Output: False

# Check if all characters in `b` are alphanumeric
print(b.isalnum())  # Output: True

# Count occurrences of "is" in `a`
print(a.count("is"))  # Output: 1

# Find the index of the first occurrence of "a" in `a`
print(a.index("a"))  # Output: 3

print(a.replace("Wednesday","Thaursday"))
print(a.startswith("day"))
print(a.endswith("day"))
print(a.find("z"))
print(a.isupper())
print(a.islower())
print(a.split())
print("*".join(a))

TODAY IS WEDNESDAY
today is wednesday
Today is wednesday
False
True
1
3
Today is Thaursday
False
True
-1
False
False
['Today', 'is', 'Wednesday']
T*o*d*a*y* *i*s* *W*e*d*n*e*s*d*a*y

In [40]:
#string Formating
a=input("Enter Your Name:")
b=input("Enter date of barth:")
print(r"\n How are you Amal?") # r means raw string ,\n means new line
print(f"\n how are you Amal?") # f means formated string
print(f"\n welcome to learning portal {a}\n username:{a}\n Date of birth:{b}")

\n How are you Amal?

 how are you Amal?

 welcome to learning portal Amaldass
 username:Amaldass
 Date of birth:01-Sep-1996

In [6]:
a="How are You amaldass Govindan"

print(a[0:5])
print(a[1:10])
print(a[::3])
print(a[::-1])

How a
ow are Yo
H eoalsGia
nadnivoG ssadlama uoY era woH

In [8]:
b="nadnivoG ssadlama uoY era woH"
print(b[::-1].capitalize())

How are you amaldass govindan

In [18]:
# List and its Operation 

a=["Today","Yesterday","tomorrow"]
b=[1,1.2,23456,"amaldass",[145,0.2545]]
print(a)
print(b)
print(b[4][1])

['Today', 'Yesterday', 'tomorrow']
[1, 1.2, 23456, 'amaldass', [145, 0.2545]]
0.2545

In [2]:
#list is mutable (Muteable means in list we able to change )

a=[1,2,3]
print(a)
a.append("Amaldass Govianda")
a.extend(["Murali","Suvithara","Yogi","Mithra"])
print(a)
a[3]+ " Suvithra"
print(a.count("Suvithara"))
a.insert(1,"i love you")
print(a)

[1, 2, 3]
[1, 2, 3, 'Amaldass Govianda', 'Murali', 'Suvithara', 'Yogi', 'Mithra']
1
[1, 'i love you', 2, 3, 'Amaldass Govianda', 'Murali', 'Suvithara', 'Yogi', 'Mithra']

In [1]:
a=[1,500,200,300,2,3,6,4,8,5,10,7,9]
a.sort()
print(a)
a.sort(reverse=True)
print(a)
a.sort(reverse=False)
print(a)
a.remove(10)
print(a)
f=a.pop(10)
print(a)
print(f)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 500]
[500, 300, 200, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 500]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 200, 300, 500]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 200, 500]
300

In [3]:
#set(using for unique values)

a={1,1,11,1,1,1,1,1,1,1,2,2,2,2,2,23,4,45,5,6,6,6,88888,88,888,88888}
print(a)

{1, 2, 4, 5, 6, 11, 45, 88888, 23, 888, 88}

In [1]:
#dictionary  no duplicate ,keywords : values
a={"Name":"Amaldass","Dob":"01-09-1996","Language":"Tamil"}
b=['Name', 'Dob', 'Language']
for key in b:
    print(a[key])
print(a.get("Name"))
print(a.keys())
print(a.values())
print(a.items())

Amaldass
01-09-1996
Tamil
Amaldass
dict_keys(['Name', 'Dob', 'Language'])
dict_values(['Amaldass', '01-09-1996', 'Tamil'])
dict_items([('Name', 'Amaldass'), ('Dob', '01-09-1996'), ('Language', 'Tamil')])

In [1]:
#Functions

# Moto * we create own funtions

# 1 st we need to define the funtion thats is (def)
def amal():
    return"Amaldass welcome to learning Define Function"
amal()

'Amaldass welcome to learning Define Function'

In [5]:
def add(num1,num2):
    return num1+num2
def evenodd(num):
    if num%2==0:
     return"This is even number"
    else:
        return "This is odd number"
b=int(input("Enter the Number:"))
c=int(input("Enter the Number:"))
a=add(b,c)
print(a)
evenodd(a)

99

'This is odd number'

In [8]:
def amal(Name,DOB,CD=21):
    age=2024-DOB
    return f"Hi {Name} Your age is {age} Today date is {CD}"
print(amal("Amaldass",1996))
print(amal(Name="Suvi",CD=22,DOB=1995))

Hi Amaldass Your age is 28 Today date is 21
Hi Suvi Your age is 29 Today date is 22

In [26]:
 # variable argument

def ama(*a): # * means *types of name 1.Multiplication 2.everything 3.unpacking(Now see 2nd one)
    s=500
    for i in a:
        print(i)
        s=s+i
    return s
        
ama(1,2,3,4,5,6,7,8,9,10,12)

1
2
3
4
5
6
7
8
9
10
12

567

In [41]:
# variable Key word arguments
def ama(**b):
    print(list(b.keys()))
    print(list(b.values()))
    for i in b.items():
        print(i)
ama(name="amal",language="TAM",state="TN")

['name', 'language', 'state']
['amal', 'TAM', 'TN']
('name', 'amal')
('language', 'TAM')
('state', 'TN')

In [ ]:
def Carproducts(Company,Make,Fuel,variant,Colour,year):
    return"Carproducts"

In [ ]:
 # class & objects
# recursive Function
# lambda ,map & filter
#pip
#json
#file and folder handling
#error handling
#pickling

not

In [46]:
# class & objects
#like its is OOPS(object oriated programing)
class Laptop():
    
    model="HP Laptop"
    battery="10 hrs"

In [48]:
a=Laptop()
print(a.model)
print(a.battery)

HP Laptop
10 hrs

In [3]:
class Bankaccount():
    def __init__(self,name,balance):
        self.name=name
        self.balance=balance
    def deposit(self,amount):
        self.balance=self.balance+amount
        return self.balance

In [4]:
amaldass=Bankaccount("amaldass",200000)
Suvi=Bankaccount("suvi murali",300000)

In [5]:
Suvi.balance

300000